doctype html
html
  head
    title Functional JavaScript Snippets
    meta(charset="utf-8")
    link(rel="stylesheet", href="static/bootstrap.readable.min.css")
  body
    .container
      .row
        .col-xs-12
          .page-header
            h1 Functional JavaScript Snippets
          p.
            JavaScript is a functional language. Here are some fun functional
            snippets.
