doctype html
html
  head
    title Moose’s JavaScript Zone
    meta(charset="utf-8")
    link(rel="stylesheet", href="/static/boostrap.readable.min.css")
  body
    .container
      .hero-unit
        h1 Moose's JavaScript Zone
    
