<!DOCTYPE html>
<html>
  <head>
    <title>Functional JavaScript Snippets</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ site.url }}/static/bootstrap.readable.min.css">
    <link rel="stylesheet" href="{{ site.url }}/static/hightlight.default.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <div class="page-header">
          <h1>Functional JavaScript Snippets<small>&nbsp; by Moose</small></h1>
        </div>
        {% if page.path contains '_posts' %}
          {{ content }}
        {% else %}
        {% for post in site.posts %}
        {{ post.content }}
        <a href="{{ post.url }}">{{ post.title }}</a>
        {% endfor %}
        {% endif %}
        </div>
      </div>
    </div>
    <script src="{{ site.url }}/static/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
